@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-elements{
  display: flex;
}

.nav-items{
  margin: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

/* .courseImg{
  width: 250px;
  height: auto;
} */